@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem; /* 16px base ya definida en :root */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* MAIN */
body {
  overflow: hidden;
  cursor: none !important;
}

.bg {
  background-image: url(sprites/bg.png);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
  top: 0;
  left: 0;
  background-position: bottom !important;
}

.cursor {
  position: absolute;
  z-index: 10000;
  height: 1.875rem; /* 30px */
  pointer-events: none;
}

.clock {
  font-family: 'VT323';
  font-size: 1.65rem; /* 19px ÷ 16 = 1.1875rem */
  font-weight: 800;
  color: white;
  position: absolute;
  bottom: 1.7625rem; /* 25px ÷ 16 = 1.5625rem */
  right: 2.1875rem;  /* 35px ÷ 16 = 2.1875rem */
  text-shadow: 0 0.0625rem 0.03125rem black; /* 1px & 0.5px converted */
}


/* CONTENEDORES */
.desktop {
  display: flex;
  height: 100%;
  width: 98%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  padding: 1%;
}

.folders {
  display: flex;
  flex-direction: column;
  gap: 0.625rem; /* 10px */
}

.window {
  position: absolute;
  background-color: #fff;
  transition: 0.1s;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: 0.3125rem; /* 5px */
  width: 61.8125rem; /* 989px */
  height: 34rem; /* 544px */
  background-image: url('sprites/folder\ window.png');
  box-shadow: 0.625rem 0.625rem 1.25rem black, 0 0 0.1875rem white; /* 10px, 3px */
}

.window.show {
  transform: scale(1);
}

.window.closing {
  transform: scale(0);
}

.window.minimize {
  transform: translateY(62.5rem); /* 1000px */
}

.files {
  display: flex;
  position: relative;
  top: 5rem; /* 80px */
  left: 0.3125rem; /* 5px */
  width: 61.25rem; /* 980px */
  justify-content: space-evenly;
}

.buttons {
  display: flex;
}

/* CARPETAS */
.folder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 9.375rem; /* 150px */
  height: 9.375rem;
  margin: 1.25rem; /* 20px */
  align-items: center;
  border-radius: 0.125rem; /* 2px */
  transition: 0.1s;
  user-select: none;
  gap: 0.625rem; /* 10px */
  padding: 0.625rem; /* 10px */
  text-align: center;
}

.folder .label {
  display: flex;
  font-family: 'VT323';
  font-size: 1.3125rem; /* 21px */
  font-weight: 500;
  color: white;
  text-shadow: 0 0 0.1875rem black;
  text-align: center;
  align-items: center;
}

.folder:hover {
  background-color: rgba(240, 248, 255, 0.658);
}

.folder:active {
  transform: scale(0.97);
}

/* ARCHIVOS */
.file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 9.375rem; /* 150px */
  height: 9.375rem;
  margin: 0.625rem; /* 10px */
  border-radius: 0.0625rem; /* 1px */
  transition: 0.1s;
  user-select: none;
}

.file .icon {
  width: 6.25rem; /* 100px */
}

.file .label {
  font-family: 'VT323';
  font-size: 1.3125rem; /* 21px */
  font-weight: 500;
  color: white;
  text-shadow: 0 0 0.1875rem black;
}

.file:hover {
  background-color: rgb(218, 236, 252);
}

.file:active {
  transform: scale(0.97);
}

/* BOTONES */
.datosButtons .close-btn {
  width: 3.125rem; /* 50px */
  height: 1.875rem; /* 30px */
  position: relative;
  left: 58.0625rem; /* 929px */
  top: 0.5rem; /* 8px */
}

.datosButtons .min-btn {
  width: 3.125rem;
  height: 1.875rem;
  position: relative;
  left: 48.0625rem; /* 769px */
  top: 0.5rem;
}
