@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem; /* Base tipográfica */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  cursor: none !important;
}

.bg {
  background-image: url(sprites/bg.png);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
  top: 0;
  left: 0;
  background-position: bottom !important;
}

.cursor {
  position: absolute;
  z-index: 10000;
  height: 1.56vw; /* 30px aprox */
  pointer-events: none;
}

.clock {
  position: fixed;
  bottom: 2.8%;
  right: 3%;
  font-family: 'VT323', monospace;
  font-size: clamp(1.25rem, 1.65vw, 1.75rem);
  font-weight: 800;
  color: white;
  text-shadow: 0 0.3vw 0.3vw black;
  z-index: 1000;
}

.desktop {
  display: flex;
  height: 90%;
  width: 99.5%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  padding: 2%;
  overflow-y: auto;
}

.folders {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.window {
  position: absolute;
  background-color: #fff;
  transition: 0.1s;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-radius: 0.26vw; /* 5px */
  width: 77vw; /* 989px */
  height: 44.5vh; /* 544px */
  background-image: url('sprites/folder\ window.png');
  box-shadow: 0.5vw 0.5vw 1vw black, 0 0 0.15vw white;
}

.window.show {
  transform: scale(1);
}

.window.closing {
  transform: scale(0);
}

.window.minimize {
  transform: translateY(78vh); /* 1000px aprox */
}

.files {
  display: flex;
  position: relative;
  top: 6.25vw; /* 80px */
  left: 0.26vw; /* 5px */
  width: 76vw; /* 980px */
  justify-content: space-evenly;
}

.buttons {
  display: flex;
}

/* CARPETAS */
.folder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12vw; /* 150px */
  height: 12vw;
  align-items: center;
  border-radius: 0.1vw; /* 2px */
  transition: 0.1s;
  user-select: none;
  gap: 0.77vw; /* 10px */
  padding: 0.5vw; /* 10px */
  text-align: center;
}

.folder .label {
  display: flex;
  font-family: 'VT323';
  font-size: 1.1vw; /* 21px */
  font-weight: 500;
  color: white;
  text-shadow: 0 0 0.15vw black;
  text-align: center;
  align-items: center;
}

.folder:hover {
  background-color: rgba(240, 248, 255, 0.658);
}

.folder:active {
  transform: scale(0.97);
}

/* ARCHIVOS */
.file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 9.37vw; /* 150px */
  height: 9.37vw;
  margin: 0.5vw; /* 10px */
  border-radius: 0.05vw; /* 1px */
  transition: 0.1s;
  user-select: none;
}

.file .icon {
  width: 5.2vw; /* 100px */
}

.file .label {
  font-family: 'VT323';
  font-size: 1.1vw; /* 21px */
  font-weight: 500;
  color: black;
}

.file:hover {
  background-color: rgb(218, 236, 252);
}

.file:active {
  transform: scale(0.97);
}

/* BOTONES */
.datosButtons .close-btn {
  width: 3.125vw; /* 50px */
  height: 1.875vw; /* 30px */
  position: relative;
  left: 73vw; /* 929px */
  top: 0.4vw; /* 8px */
}

.datosButtons .min-btn {
  width: 3.125vw;
  height: 1.875vw;
  position: relative;
  left: 60vw; /* 769px */
  top: 0.4vw;
}

.skills {
  background-image: url(sprites/skills\ window.png);
  background-position: center;
  background-size: cover;
  width: 92vw;
  height: 59vh;
}

.skills .close-btn {
  width: 3.125vw;
  height: 1.875vw;
  position: relative;
  left: 87.5vw;
  top: 0.3vw;
}

.skills .min-btn {
  width: 3.125vw;
  height: 1.875vw;
  position: relative;
  left: 74.5vw;
  top: 0.4vw;
}

.quotes {
  background-image: url(quotes/1.png);
  background-position: center;
  background-size: cover;
  width: 35.5vw;
  height: 21.7vh;
}

.quotes .close-btn {
  width: 3.125vw;
  height: 1.875vw;
  position: relative;
  left: 30.9vw;
  top: 0.3vw;
}

.quotes .min-btn {
  width: 3.125vw;
  height: 1.875vw;
  position: relative;
  left: 18vw;
  top: 0.4vw;
}

.links {
  background-image: url(sprites/links\ window.png);
  background-position: center;
  background-size: cover;
  width: 35.8vw;
  height: 30.5vh !important;
}

.links .close-btn {
  width: 3.125vw;
  height: 1.875vw;
  position: relative;
  left: 30.9vw;
  top: 0.3vw;
}

.links .min-btn {
  width: 3.125vw;
  height: 1.875vw;
  position: relative;
  left: 18vw;
  top: 0.4vw;
}

.juegos {
  background-image: url(sprites/games\ window.png);
  background-position: center;
  background-size: cover;
  width: 46.5vw !important;
  height: 37vh !important;
}

.juegos .close-btn {
  width: 3.125vw;
  height: 1.875vw;
  position: relative;
  left: 41.5vw;
  top: 0.3vw;
}

.juegos .min-btn {
  width: 3.125vw;
  height: 1.875vw;
  position: relative;
  left: 28.8vw;
  top: 0.4vw;
}

.taskbar {
  position: absolute;
  bottom: 0;
  width: 100%;
}
